.certificates {
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 60px;
        @media (max-width: 768px) {
            margin-bottom: 30px;   
        }
    }
    &__item {
        max-width: 33.333%;
    }
    &__button-list {
        display: flex;
        justify-content: flex-end;
    }
}