.contact {
    &__title {
        margin-bottom: 22px;
    }
    &__block {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__img {
        object-fit: cover;
    }
    &__right {
        display: flex;
        width: 67%;
        max-height: 369px;
        padding-left: 30px;

        @media (max-width: 992px) {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;   
            width: 100%;
            padding: 0;
            min-height: 100%;
        }
        
    }
    &__form-wrapper {
        width: 34%;
        @media (max-width: 992px) {
            width: 80%;   
            margin: 0 auto;
            padding: 20px;
            .form__item-style {
                background-color: rgb(243, 243, 243, 0.7);
            }
            .form__item > textarea {
                min-height: 100%;
            }
            .form-checkbox>label {
                font-size: 10px;
            }
        }
        @media (max-width: 576px) {
            width: 100%;   
        }
    }
}

