.contact {
    &__title {
        margin-bottom: 22px;
    }
    &__block {
        display: flex;
        justify-content: space-between;
    }
    &__form {
        width: 34%;
    }
    &__img {
        object-fit: cover;
    }
    &__right {
        display: flex;
        max-height: 369px;
    }
    &__form-wrapper {
        max-width: 34%;
    }
}

