.contact {
    &__title {
        margin-bottom: 22px;
    }
    &__block {
        display: flex;
        justify-content: space-between;
    }
    &__form {
        width: 34%;
    }
    &__img {
        object-fit: cover;
    }
    &__right {
        display: flex;
        max-height: 369px;
    }
}

.form {
    width: 34%;
    margin-right: 30px;
    &__item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        & > ::placeholder {
            font-family: "TT Hoves", sans-serif;
            font-weight: 400;
            line-height: 1.1;
            font-size: 14px;
            color: #8d8d8d;
        }
        & > textarea {
            min-height: 147px;
        }
        &-style {
            font-family: "TT Hoves", sans-serif;
            font-weight: 600;
            line-height: 1.1;
            font-size: 16px;
            color: $dark;
            padding: 14px 21px;
            background-color: $gray;
            border: none;
            max-width: 100%;
            min-width: 100%;
        }
    }
    &-checkbox {
        display: flex;
        align-items: center;
        & > label {
            display: flex;
            align-items: center;
        }
    }
}
