.header {
    @media (max-width: 768px) {
        padding-bottom: 115px;
    }
    &__container {
        @media (max-width: 768px) {
            position: fixed;
            z-index: 10;
            background-color: $gray;
            max-width: 100%;
        }
    }
    &__nav {
        display: flex;
        align-items: center;
        padding: 29px 0;
        @media (max-width: 768px) {
            padding: 0;
        }
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    &__logo {
        margin: inherit;
        &-wrapper {
            width: 35%;
            @media (max-width: 992px) {
                width: 20%;
            }
            a {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    &__list {
        display: flex;
        width: 65%;
        justify-content: space-between;
        padding-right: 134px;
        @media (max-width: 768px) {
            display: none;
        }
        @media (max-width: 992px) {
            width: 80%;
        }
        @media (max-width: 1200px) {
            padding-right: 0;
        }
    }
    &__link {
        color: #333;
        font-size: 12px;
        font-weight: 400;
        line-height: 1;
        position: relative;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        &::after,
        &::before {
            content: "";
            width: 0%;
            height: 1px;
            transition: all 0.3s ease;
            background-color: $dark;
            position: absolute;
            opacity: 0;
        }
        &::after {
            top: 0;
            transform: translateY(-2px);
            left: 0;
        }
        &::before {
            transform: translateY(2px);
            bottom: 0;
            right: 0;
        }

        &:hover::before,
        &:hover::after {
            opacity: 1;
            width: 100%;
        }
        &.current-page::after,
        &.current-page::before {
            opacity: 1;
            width: 100%;
        }
    }
}
