.main {
    
    &__wrapper {
        display: flex;
    }
    &__title {
        text-transform: uppercase;
        &>span {
            color: $dark;
            font-weight: 700;
        }
        &-wrapper {
            height: 50%;
            align-items: flex-end;
            display: flex;
        }
    }
    &__button {
        &-slider {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #fff;
        }
        &-wrapper {
            padding-top: 90px;
        }
    }
    &__right {
        position: relative;
        width: 65%;
    }
    &__left {
        width: 35%;
    }
}