.project {
    padding-top: 60px;
    &__grid {
        display: grid;
        grid-gap: 30px;
        margin-bottom: 30px;
        grid-template-areas:
            "a a a a b b b"
            "c d d d d e e";
            @media (max-width: 1200px) {
                grid-template-areas: 
                "a a a b b b"
                "c c d d e e";
                grid-gap: 15px;
            }  
    }
    &-image {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    &__block {
        position: relative;
        &-container {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            display: flex;
            align-items: center;
            opacity: 0;
            background-color: rgba($color: $dark, $alpha: 0.8);
            transition: all 0.3s ease-in-out;
            &:hover {
                opacity: 1;
            }
        }
    }
    &__title {
        margin-bottom: 60px;
    }
    &__info {
        margin: 0 auto;
        &-title {
            font-size: 64px;
            font-weight: 700;
            color: #fff;
            line-height: 1;
            text-transform: uppercase;
            width: min-content;
            @media (max-width: 1200px) {
                font-size: 34px;
            }   
        }
    }
    &__link {
        display: inline-grid;
        grid-auto-flow: column;
        justify-content: center;
        align-items: center;
        grid-gap: 15px;
        text-transform: uppercase;
        color: #fff;
        padding-top: 14px;
    }
}

.grid-1 {
    grid-area: a;
}
.grid-2 {
    grid-area: b;
}
.grid-3 {
    grid-area: c;
}
.grid-4 {
    grid-area: d;
}
.grid-5 {
    grid-area: e;
}
